*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d1117; /* GitHub Dark tarzı harika bir lacivert/siyah */
  color: #c9d1d9; /* Göz yormayan açık gri yazı */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mono {
  font-family: 'Courier New', Courier, monospace;
}

strong {
  color: #e6edf3;
}